cub3D
mandatory/src/parsing/*.o
mandatory/src/raycasting/*.o
mandatory/src/render/*.o
libft/*.o
libft/libft.a
libft/ft_printf/*.o
libft/ft_printf/libftprintf.a
libft/get_next_line/*.o
libft/get_next_line/libftgnl.a
.nfs*
out
here
compile_commands.json
